.horizontalScrollContainer {
  display: flex;
  margin-top: 20px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.scrollableContent {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  width: 100%;
  padding: 5px 0;
}

.scrollableContent::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.item {
  flex: 0 0 auto;
  margin: 0 5px;
  padding: 10px;
  background-color: #083f36;
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
}

.logo {
  height: auto;
}

.scrollButton {
  color: #5a5a5a;
  border: 1px solid #5a5a5a;
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 50px;
  margin: 0 10px;
  transition: background-color 0.3s;
  z-index: 1;
}

.scrollButton:hover {
  background-color: black;
  color: white;
}

.scrollButton:focus {
  outline: none;
}

/* Styles for small devices (phones) */
@media (max-width: 36rem) {
  .scrollableContent {
    width: 100%;
  }
}

/* Styles for small devices (tablets) */
@media (min-width: 36.063rem) and (max-width: 48rem) {
}

/* Styles for medium devices (laptops and desktops) */
@media (min-width: 48.063rem) and (max-width: 62rem) {
}

/* Styles for large devices (desktops) */
@media (min-width: 62.063rem) and (max-width: 75rem) {
}

/* Styles for extra large devices (large desktops and TVs) */
@media (min-width: 75.063rem) {
}
